@import url('css/theme.css');
/*
    This should be importing the readthedocs theme
 */

.wy-menu-vertical ul {
    margin-bottom: 10px;
}

.rst-content dl p {
    margin-bottom: 6px !important;
}

.rst-content dd > dl dd {
    margin-bottom: 6px !important;
}

.rst-content dd > dl p {
    margin-bottom: 2px !important;
}