@import url('css/theme.css');
/*
    This should be importing the readthedocs theme
 */


.wy-menu-vertical li ul {
    display: block;
}

.wy-menu-vertical li a {
    font-weight: bold;
}

.wy-menu-vertical li ul li a {
    padding-left: 2.6em;
    color: #808080;
}

.wy-menu-vertical li ul li.current > a, .wy-menu-vertical li.current ul li a {
    padding-left: 2.6em;
}

.rst-content dl p {
    margin-bottom: 6px !important;
}

.rst-content dd > dl dd {
    margin-bottom: 6px !important;
}

.rst-content dd > dl p {
    margin-bottom: 2px !important;
}